{%  extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">Call for Presentations</h1>
    </div>
</section>
 <!--Sponsor Section-->
<section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Call for Presentations</h2>
                        </div>
                        <p>
                            The Call for Presenations for the 2023 OCP APAC Tech Day is Now OPEN!
                        </p>
                        <div class="btn-box"><a href="https://forms.gle/p6BRhs33zJ295f8R8" target="_blank"
                                                class="theme-btn btn-style-three"><span class="btn-title">CHECK HERE TO SUBMIT</span></a>
                        </div>
                        <p>please contact Jungsoo KIM, at <a href="mailto:support@openinfradays.kr">support@openinfradays.kr</a></p>
                    </div>
                </div>
                <div class="content-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Submission Topics</h2>
                        </div>
                        <ul class="list-style-one">
                            <li>OCP Project: Cooling Environments - This track is designed to address the increasing demand for data center cooling innovations. Includes Sub-Projects:  Advanced Cooling Facilities (ACF), Immersion, Cold Plate, Door Heat Exchanger and Heat Re-use.</li>
                            <li>OCP Project: Data Center Facility (DCF) - Design, commissioning and operational practice of the data center, power and cooling infrastructure in support of IT equipment, DC infrastructure management. Includes Sub-Projects: Operation Technology Security (OTS), Modular Data Center (MDC), DCF Sustainability, OCP Ready™ Facilities Program.</li>
                            <li>OCP Project: Hardware Management - This project creates and designs specifications to enable interoperable manageability for Open Compute Platforms, with core focus on baseline hardware manageability and out of band management. Includes Sub-Projects: OpenRMC-DM, Hardware Management Module, Hardware Fault Management.</li>
                            <li>OCP Project: Networking - Networking hardware and software deployed into data centers, telecom central offices and enterprise. Includes Sub-Projects: Enterprise Connectivity Solutions (ECS), Open Network Install Environment (ONIE), NetworkingSW and SAI, Standardized NPU Mezzanine Card</li>
                            <li>OCP Project: Open System Firmware (OSF) - An open firmware development project aiming to allow BIOS to be modified and shared by the owners. This project leverages Coreboot/Linux Boot by filling the gaps against UEFI BIOS.</li>
                            <li>OCP Project: Rack & Power - The Rack & Power Project focuses on rack standards that are designed for data centers, integrating the rack into the data center infrastructure. Includes standard 19” and OpenRack 21” architectures, power shelves, bus bars and the enclosures.</li>
                            <li>OCP Project: Security - The goal of the OCP Security project is to improve security across data centers through open standards. It provides specifications for hardware and software on security implementations.</li>
                            <li>OCP Project: Server - Technologies and products for compute and hardware acceleration including but not limited to silicon, modularity, products and integration solutions. Includes Sub-Projects: Composable Memory System, OAI (Open Accelerator Infrastructure), ODSA (Open Domain-Specific Architecture), NIC, HPC (High Performance Computing), DC-MHS, Scalable IO Virtualization </li>
                            <li>OCP Project: Storage - Cloud storage device’s electro-mechanical, interface standards, API standards and storage appliance design contributions.</li>
                            <li>OCP Project: Sustainability - The data center industry is at the forefront of ever increasing power usage and greenhouse gas emissions in an age when climate change impacts are hard to ignore. OCP Sustainability is working to enable progress towards industry goals by addressing unique challenges and opportunities presented within the Open Compute Project ecosystem - to deploy industry best practices that promote reusability and circularity.</li>
                            <li>OCP Project: Telco and Edge - Technologies and products for telecom functions and far edge deployment including but not limited to silicon, modularity, products and integration solutions. Includes work being done in the Edge Sub-Project.</li>
                            <li>OCP Project: Time Appliances Project (TAP) - Aims to bring together the community of datacenter operators, application developers, and equipment and semiconductor companies together to enable datacenter time-sensitive applications.</li>
                            <li>OCP Special Focus: Global Policy & Use Cases - The track will highlight adopters and  deployments of OCP Recognized Hardware and typical use cases, also highlights success with OCP Experience Center program and OCP DR Ready Colocation Facilities Program </li>
                            <li>OCP Special Focus: Optics Track - This track will explore opportunities for collaboration between organizations adjacent to OCP working on optical networking (researchers and their vendors). Areas of interest include new optics technologies that will reduce power consumption, data center optics (400G, 800G and 1.6T Ethernet), DCI interconnect (400G, 800G, and 1.6T-ZR), and optical chiplets. </li>
                            <li>OCP Special Focus: Quantum - This track will explore opportunities for collaboration between organizations adjacent to OCP working on Quantum (researchers, vendors, and adopters). </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
</section>
{% endblock %}
