{% extends 'base.html' %}
{% load static %}

{%  block content %}
    <!-- banner -->
    <section class="banner-meetup" style="background-image: url({% static 'images/cover.png'%}); background-size: 100% 100%; ">
         <div class="auto-container">
              <div class="content-box">
                 <div class="address"><span class="icon fa fa-map-marker-alt"></span>Seoul, COEX Grandballroom / 2023-07-04(Tue)</div>
                 <h2> OCP APAC Tech Day</h2>
             </div>
         </div>
    </section>

    <section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <!-- Content Column -->
                <div class="content-column col-lg-6 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>OCP APAC Tech Day</h2>
                            <div class="text">
                                <p>The Open Compute Project Foundation (OCP) is a global organization that promotes the development and adoption of open, scalable computing infrastructure and works to drive innovation in hardware and software design. <br>
                                OCP hosts events to bring together industry experts, researchers, and practitioners to discuss the latest developments and trends in the field.</p>
                                <p>The 2023 OCP Regional Summit will be held in person 4 July, 2023 at the Seoul Convention and Exhibition Center(COEX), fantastic facilities for culture, pleasure, and shopping. By "Empowering Open," OCP aims to help organizations leverage the benefits of open technologies and approaches in both design and deployments to overcome roadblocks, achieve their goals, and drive innovation in their fields. OCP’s Tech Dayis a great opportunity to learn from industry experts and network with other professionals in the field while learning from the speakers, presentations, panel discussions, and workshops at the event.</p>
                                <p>Come see how OCP is Empowering Open for the evolution and progress of servers, acceleration, AI and ML, HPC, networking, edge computing, sustainability, future technologies under development, and much more.</p>
                                <p>The 2023 OCP APAC Tech Day will feature:</p>
                                <p>
                                    <ul class="list-style-one">
                                <li>Keynote presentations made by industry titans </li>
                                <li>Product announcements and innovation displays in the Executive Talks from Summit sponsors </li>
                                <li>Engineering Workshops that feature in-depth discoveries from the OCP Project groups and other industry topics</li>
                                <li>An Expo Hall packed with the latest OCP hardware and software offerings</li>
                                <li>OCP Future Technologies Symposium - which brings together research organizations, academia, as well as startup and investor communities, to solve longer-term challenges facing the technology infrastructure.</li>
                                    </ul>
                                </p>
                                <p>
                                    Save the date for 2023 OCP APAC Tech Day - July 4. <br>
                                    Sponsorship sales are now open! Details <a href="https://www.opencompute.org/summit/global-summit/sponsorship">here.</a>

                                </p>
                             </div>
                        </div>
                    </div>
                </div>

                <!-- Image Column -->
                <div class="image-column col-lg-6 col-md-12 col-sm-12">
                    <div class="image-box">
                        <figure class="image wow fadeIn"><img src="{% static 'images/ocp_logo.png' %}" alt=""></figure>
                    </div>
                </div>



            </div>
        </div>
    </section>



    <section class="gallery-section">
        <div class="auto-container">
            <div class="sec-title text-center">
                <span class="title">Sponsors</span>
                <h2>Diamond</h2>
            </div>

            <div class="row">
                {% for d in diamond %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
            <div class="sec-title text-center">
                <h2>Platinum</h2>
            </div>
            <div class="row">
                {% for d in Platinum %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
             <div class="sec-title text-center">
                <h2>Gold</h2>
            </div>
            <div class="row">
                {% for d in gold %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="auto-container">
             <div class="sec-title text-center">
                <h2>Media</h2>
            </div>
            <div class="row">
                {% for d in media %}
                    <div class="gallery-item col-lg-4 col-md-6 col-sm-12 wow fadeIn">
                        <div class="image-box text-center">
                            <figure class="image-box"><a href="{{  d.homepage_url }}" target="_blank"><img src="{{ d.logo.url }}" alt="{{  d.name_ko }}"></a></figure>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

    </section>

{% endblock %}
