{%  extends 'base.html' %}

{% block content %}
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">Call for Sponsors</h1>
    </div>
</section>
 <!--Sponsor Section-->
<section class="about-section">
        <div class="anim-icons full-width">
            <span class="icon icon-circle-blue wow fadeIn"></span>
            <span class="icon icon-dots wow fadeInleft"></span>
            <span class="icon icon-circle-1 wow zoomIn"></span>
        </div>
        <div class="auto-container">
            <div class="row">
                <div class="content-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="sec-title">
                            <h2>Sponsors</h2>
                        </div>
                        <p>
                            Sponsorship Sales are now OPEN for the 2023 OCP APAC Tech Day – July 4 in Seoul, Korea.
                            Please find below the sponsor prospecuts that outlines all the options and pricing.
                        </p>
                        <div class="btn-box"><a href="https://kr1-api-object-storage.nhncloudservice.com/v1/AUTH_aafa2fb26f3d477d87a04792660acb75/openinfradays-korea-public/2023/2023%20OCP%20APAC%20TechDay%20Prospectus_v1.5_PDF.pdf" target="_blank"
                                                class="theme-btn btn-style-three"><span class="btn-title">Sponsor Prospectus</span></a>
                        </div>
                        <p>Questions? Contact us at: <a href="mailto:sponsor@openinfradays.kr">sponsor@openinfradays.kr</a> & <a href="mailto:event@plan9.co.kr">event@plan9.co.kr</a></p>
                    </div>
              </div>
            </div>
        </div>
</section>

{% endblock %}
