{%  extends 'base.html' %}
{% load static %}

{% block content %}
<section class="page-title">
    <div class="auto-container">
        <h1 style="color: #000000">Venue</h1>
    </div>
</section>
 <!--Sponsor Section-->
<section id="venue" class="about-section">
        <div class="auto-container">
            <div class="sec-title">
                <span class="title">Venue</span>
                <h2>Seoul, COEX Grandballroom</h2>
            </div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4445.040901712181!2d127.05497241494857!3d37.513394566314396!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x357ca46af653508b%3A0x77dcffee7049376b!2z7L2U7JeR7IqkIOq3uOuenOuTnOuzvOujuA!5e0!3m2!1sen!2skr!4v1662886185173!5m2!1sen!2skr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
{% endblock %}
